<!-- 
<app-basic-fields [form]="this.applicantForm">
</app-basic-fields>
<app-partial-labor-details [form]="this.applicantForm"></app-partial-labor-details>
<br/>
<app-partial-financial-information [form]="this.applicantForm"></app-partial-financial-information>
<app-partial-location-data [form]="this.applicantForm"></app-partial-location-data>
<br/>
<ng-container *ngFor="let i of personalReferences">
    <app-partial-personal-reference [form]="this.applicantForm"></app-partial-personal-reference>
</ng-container>
<br/>
<ng-container *ngFor="let i of familyReferences">
    <app-parcial-family-reference [form]="this.applicantForm"></app-parcial-family-reference>
</ng-container>
<app-dynamic-forms [form]="this.applicantForm" [dynamicFormData]="dynamicFormData">
</app-dynamic-forms> -->
<app-dynamic-forms [form]="this.applicantForm" [dynamicFormData]="dynamicFormData">
</app-dynamic-forms>