.custom-icon {
    font-size: 25px;
    color: white;
  }

  .custom-icon-list {
    font-size: 35px; 
    // align-content: center 
  }

  .row{
    border: solid #233E50;
    // border:.1 solid #233E50;
  }
  
  .name{
    color: white;
  }

.col{
  width: 30%;
}