<ion-header>
  <ion-toolbar>
    <ion-title>Términos y Condiciones</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <br>
<ion-card>
  <ion-card-title style="text-align: center">Aceptar Términos y Condiciones</ion-card-title>
</ion-card>

<div class="modal-body" style="height: 100%">
    <iframe id="termsIframe" src="assets/FormatoAutorizacionescredito.html"  width="100%" height="100%" frameborder="0"
      allowtransparency="true"></iframe>
      <!-- src="https://epm.coxti.com/assets/FormatoAutorizacionescredito.pdf" -->
  </div>
  <div padding style="padding-top: 2%; height: 10%;">
      <button id="btnEnviar" type="submit" (click)="cerrarModal()"
        class="btn btn-primary btn-evidente" [style.backgroundColor]="parametrics.button_color"
        style="width: 100%; border-color: transparent;">ACEPTAR</button>
    </div>
</ion-content>
