.custom-icon {
    font-size: 25px;
    color: white;
  }

.tittleCard{
    visibility: inherit;
    text-align: center;
}

.btn-pagare {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  border: inherit;
  margin-top: 5px;
  background-color: gray;
}
